@font-face {
    font-family: 'eczarextrabold';
    src: url('Eczar-ExtraBold-webfont.eot');
    src: url('Eczar-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Eczar-ExtraBold-webfont.woff2') format('woff2'),
         url('Eczar-ExtraBold-webfont.woff') format('woff'),
         url('Eczar-ExtraBold-webfont.ttf') format('truetype'),
         url('Eczar-ExtraBold-webfont.svg#eczarextrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

